.players
{
    display: flex;
    height: 40vh;
    
}
.user{
    display: flex;
    height: 100%;
    width: 45%;
    vertical-align: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
   
}
.computer{
    width: 45%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
   
}

.resultContainer{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
