.players
{
    display: flex;
    height: 40vh;
    
}

.user{
    display: flex;
    height: 100%;
    width: 45%;
    vertical-align: auto;
    justify-content: center;
    flex-direction: column;
   
    border: 2px solid black;
    
   
}
.userImage{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 90%;
}
.userImage img{
    height: 90%;
    width: 50%;
}
.userButton{
   display: flex;
   justify-content: center;
    height: 10%;

}

.computer{
    width: 45%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
   
}


.computer img{
    height: 90%;
    width: 50%;
    
}
.resultContainer{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
